<!DOCTYPE html>
<html lang=en>
<html> 
<title>website project</title>
<head> 
       <div class="container">
               <a href="/"><h1>new</h1></a>
        </div>
       {% include 'snippets/css.html' %}
</head>

<body>
        <div class="container">
                <p>
                        <a href="/">Home</a> <br />
                        <a href="/hello/">Hello</a> <br />
                        <a href="/home3">3</a> <br />
                        <iframe src="https://open.spotify.com/embed/user/geeksteraakash/playlist/1S1HE32RdNpjY0djjY7ARz" width="300" height="200" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                </p>
                {% block content %}{% endblock content %}
        </div>
        {% include 'snippets/js.html' %}
</body>
	
</html>
